    :root{
      font-family: "Inter", "Segoe UI Emoji", sans-serif;
    }

    html{
      font-size: 16px;
      scroll-behavior: smooth;
      hyphens: auto; 
    }
    
    
    body {
      background-color: #151515;
      color: white;
    }


    h1 {
      font-family: 'Lilita One', sans-serif;
      text-transform: uppercase;
      font-size: clamp(3rem, 4vw, 6rem);
      text-align: center;
      font-weight: 500;

      line-height: 0.8;
      color: #00e5ff;

      margin-top: 1em;
      margin-bottom: 0;

      hyphens: none; 
    }

    h2 {
      font-family: "Staatliches", sans-serif;
      font-size: clamp(4rem, 3vw, 6rem);
      text-align: center;
      color: #00e5ff;

      line-height: 0.8;
      margin-bottom: clamp(6rem, 4vw, 10rem);
      margin-top: 0;
    }

    p{
      margin: 1em 0;
      margin-top: clamp(3rem, 3vw, 6rem);
      font-size: clamp(1rem, 1.3vw, 2rem);
      line-height: 1.5;
    }

    u {
      text-decoration: underline;
      text-underline-offset: 7px;
      text-decoration-thickness: 3px;
    }

    img {
      display: block;
      max-width: 80%;
      margin: 1rem auto;
      margin-top: -2rem;
    }

    .cuerpo{
      max-width: 36vw;
      /*Centrar el contenido */
      margin: 1rem auto;
      padding: 0 1rem;
      margin-bottom: 0;
    }

    ::selection {
      background-color: #A2FAA3;
    }

    .emoji {
      width: 1.3em; 
      vertical-align: text-bottom;
    }

    @media (max-width: 800px) {
      .cuerpo{
        max-width: 99vw; /* importante que sea max-width y no solo max para que no se generen los callouts mal en móvil */
        margin: 0 auto;
        padding: 0 5px;
        margin-top: 1rem;
      }
    }
